.iplotContainer
  position: relative
  display: inline-block
  overflow: hidden
  max-width: 100%
  font-size: font-main-size !important

  svg
    max-width: 100%

  .label
    display: inline-block
    position: absolute

  .grid
    line
      stroke: #e0e0e0
      shape-rendering: crispEdges
      &.minor
        stroke: #f3f3f3
      &.subminor
        stroke: #fafafa

  .axis
    line
      stroke: #777
      stroke-width: 1
      shape-rendering: crispEdges
    path
      fill: #777

  .graph
    fill: none
