doctype html
html
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.3.min.js')
      script(type='text/javascript', src='https://cdn.rawgit.com/inca/bigfoot/master/build/bigfoot-init.js')
  body
    block body
