extends _layout

block append head
  script(type='text/javascript', src='http://d3js.org/d3.v3.min.js')
  script(type='text/javascript', src='../iplot.min.js')
  link(type="text/css" rel='stylesheet', href='../iplot.css', media='screen')

block append body
  p This script depends on several scripts:
  ul
    li
      a(href='http://jquery.com') jQuery;
    li
      a(href='http://github.com/inca/bigfoot') bigfoot;
    li
      a(href='http://d3js.org') D3.
  p Make sure they are insalled at your app.
  p Watch script with type application/x-iplot to view details.

  script(type='application/x-iplot')
    include _iplot.js
